{% extends "layout base/base.html" %}

{% block title %} 
	Spendoze - home
{% endblock %}

{% block content %}
<section class="d-flex align-items-center justify-content-center ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="text-start">
                    <h1 class="text-white fw-bold" style="font-size: 3.5rem;">
                        {{ 'Simplify expense tracking with receipt uploads'|upper }}
                    </h1>
                    <p class="text-white mt-3">
                        Upload struk belanja Anda, dan sistem kami akan mengekstrak, menganalisis, dan menyajikan data pengeluaran secara otomatis
                    </p>
                    <div class="d-flex mt-3">
                        {% if 'user_id' not in session %}
                        <a href="{{ url_for('login.login')}}" class="btn" style="background-color: #BAFD00;">Login dulu yuk</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <img src="{{ url_for('static', filename='images/report.png')}}" alt="report" class="img-fluid" style="max-height: 58vh;">
            </div>
        </div>
    </div>
</section>
{% endblock %}
